/* .userCard {
    background-color: rgb(250, 250, 250);
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px;
    border-radius: 30px;
    box-shadow: 2px 2px 2px rgb(195, 195, 195);
    max-width: 300px;
}

.userCard>div:nth-child(1) {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 10px;
}

.userCard>div:nth-child(2) {
    padding-bottom: 10px;
}

.userCard>div:nth-child(3) {
    padding-bottom: 10px;
} */

/* T.2 */



/* .C-True {
    color: green;
}

.todoCard {
    background-color: rgb(250, 250, 250);
    margin-bottom: 30px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgb(195, 195, 195);
    max-width: 300px;
}

.todoCard>div:nth-child(1) {
    padding-bottom: 10px;
}

.C-False {
    color: red;
} */

/* T.3 */